<p>
    Nascido em 1988, desde que me conheço por gente; formado em música há mais de 10 anos (Violão Clássico),
    em Redes da Computação, pela faculdade <a href="https://www.sumare.edu.br/">Sumaré</a> , em Análise e
    Desenvolvimento de Sistemas, pela <a href="https://italo.com.br/">UniÍtalo</a>,
    atualmente estudando em Segurança da Informação, pela <a href="https://www.uninove.br/">UniNove</a>.
    Como profissional, nas áreas como auxiliar: Metalúrgica, Produção pela <a
        href="https://www.linkedin.com/company/fundicao-balancins-ltda-/about/">Fundição Balancins</a>,
    Aux. Produção pela <a
        href="https://www.google.com/search?sxsrf=ALeKk01X1Bw9YPfJ5izZUg4TlXnNKxixkA%3A1596355438558&source=hp&ei=bnMmX7iXINi05OUP1-eC0AQ&q=ProBor+borrachas&oq=ProBor+borrachas&gs_lcp=CgZwc3ktYWIQAzoHCCMQ6gIQJ1DUDFjUDGCHFWgBcAB4AIABc4gBc5IBAzAuMZgBAKABAqABAaoBB2d3cy13aXqwAQo&sclient=psy-ab&ved=0ahUKEwi4huW2h_zqAhVYGrkGHdezAEoQ4dUDCAc&uact=5">ProBor</a>.
    na área administrativo : Assistente Técnico de Emissões, pela <a href="https://www.marsh.com/br/home.html">Marsh
        &
        Mclennan Brasil</a> há mais de 5 anos.
    Em 2018 iniciei minha carreira na área de tecnologia, minha última experiência foi na <a
        href="https://www.wca-ec.com.br/">WCA-EC</a>, por questão da COVID-19 fui desligado, mas aguardando
    novos horizontes.
    Mas estou a disposição em um desses canais.
</p>