<div class="links">
    <a class="hvr-buzz-out" href="https://github.com/DaniloOP1381521" target="_blank"><img src="img/Git-v2.png"
        width="70" alt="Github - Danilo 1381521"></a>
    <a class="hvr-buzz-out" href="https://twitter.com/dan_opinheiro" target="_blank"><img src="img/Twitter.png"
        alt="Twitter - daniloopro"></a>
    <a class="hvr-buzz-out" href="https://www.linkedin.com/in/danilo-o-pinheiro-8127ab176/" target="_blank"><img
        src="img/Linkedin.png" width="70"></a>
    <a class="hvr-buzz-out" href="https://www.instagram.com/musiccantor_danpinheiro/" target="_blank"><img
        src="img/Instagram.png"></a>
    <a class="hvr-buzz-out" href="https://vk.com/id605472308" target="_blank"><img src="img/vk.png"></a>
    <a class="hvr-buzz-out" href="https://dashboard.twitch.tv/u/danpro1988/home" target="_blank"><img
        src="img/Twitch.png"></a>
    <a class="hvr-buzz-out" href="https://discord.com/invite/XphQCq" target="_blank"><img src="img/Discord.png"
        width="70"></a>
    <a class="hvr-buzz-out" href="https://www.behance.net/danilopinheiro2" target="_blank"><img
        src="img/Behance.png"></a>
    <a class="hvr-buzz-out" href="https://medium.com/@daniloopro" target="_blank"><img src="img/Medium.png"></a>
    <a class="hvr-buzz-out" href="https://dev.to/daniloop1381521" target="_blank"><img src="img/Dev.png"></a>
    <a class="hvr-buzz-out"
      href="https://www.bing.com/images/search?view=detailV2&ccid=tNjIdRBE&id=8DE74C25E56FBB7327D61BA403F3DFCBD79F41DA&thid=OIP.tNjIdRBENoSr-di0nCD_3AHaFj&mediaurl=https%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2fthumb%2f2%2f21%2fEntrada_da_cidadde_de_Embu-Gua%25C3%25A7u.jpg%2f640px-Entrada_da_cidadde_de_Embu-Gua%25C3%25A7u.jpg&exph=480&expw=640&q=placa+de+embu+gua%c3%a7u&simid=608008734527457846&ck=934BF5058FCF04C672DE654764084DBF&selectedIndex=106&FORM=IRPRST&ajaxhist=0"
      target="_blank"><img src="img/Google-Maps.png"></a>
    <a class="hvr-buzz-out" href="https://api.whatsapp.com/send?phone=011981714618&text=sua%20mensagem"
      target="_blank"><img src="img/iphone.png"></a>
  </div>